/* Redefinition of basic elements */ 
html, body {
	margin:0;
	padding:0;
	height:100%;
}
body {
	background-color:#000;
	color:#FFF;
	-webkit-text-size-adjust:none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: #000;
	line-height: 1.33em;
}
body.front {
	background-color:#000000;
}
h1, h2, h3 {
	margin: 0 0 0.5em 0;
	line-height: 1.2em;
	color: #000;
}
h1 {
	font-size: 29px;
	font-weight: normal;
	color: #fff;
}
h2 {
	font-size: 21px;
	font-weight: normal;
}
h3 {
	font-size: 1em;
	font-weight: bold;
}
h4 {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 6px 0;
	padding: 0;
	color: #627ba1;
}
a {
	color:#7D110C;
			
}
a:visited {
	color:#7D110C
}
a img {
	border:none
}
table {
	width: 100%;
	margin: 0 0 0.75em 0;
}
div, p, li, a {
word-wrap: break-word;
}
strong {
	font-weight:bold
}
/* Major layout blocks */
#container {
	/*min-height:352px;
	position:relative;*/
	background-color: #000;
	padding-bottom: 20px;
}




#container span.left { float:left}
#container span.right { float:right}








#homegrid {
	margin: 0 auto;
	padding: 0;
	margin-left: 2px;
	clear: both;
}
#homegrid div {
	position: relative;
	/*width: 79px;*/
	width: 79px;
	height: 100px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	font-size: 13px;
	line-height: 14px;
	text-align: center;
	vertical-align: top;
}
#homegrid a {
	display: block;
	color: #FFF;
	text-decoration: none;
	-webkit-border-radius: 5px;
	padding: 8px 6px;
}
#homegrid a img {
	margin-bottom: 1px
}
span.smallprint {
	font-size: 14px;
	line-height: 17px;
	font-weight: normal;
	color: #404649;
}
span.fineprint {
	font-size:12px;
	line-height: 12px;
	color: #666;
}
.badge {
	position: absolute;
	right: 8px;
	top: 0px;
	width: 24px;
	height: 24px;
	padding-top: 5px;
	text-align: center;
	color: #fff;
	font-size:12px;
	font-weight: bold;
	background-image: url(images/badge.png);
	background-repeat: no-repeat;
}
#identity {
	background-image: url(images/h1-back.png);
	background-repeat: repeat-x;
	height: 44px;
	width: 100%;
}
#identity h1 {
	font-size: 24px;
	color: #FFF;
	text-align: left;
	padding-top: 8px;
	font-weight: bold;
	background-image: url(images/bc-icons-iu.png);
	background-repeat: no-repeat;
	background-position: 6px 0px;
	padding-left: 38px;
	float: left;
}
#identity span {
	font-size: 14px;
}
#identity span.menu {
	float:right;
	padding-top: 5px;
}
#identity-iupui {
	background-image: url(images/iupui_m_header.jpg);
	background-repeat: repeat-x;
	height: 44px;
	width: 100%;
	background-position: 22px;
}
#identity-iupui h1 {
	font-size: 24px;
	color: #FFF;
	text-align: left;
	padding-top: 8px;
	font-weight: bold;
	background-image: url(images/bc-icons-iupui.png);
	background-repeat: no-repeat;
	background-position: 6px 0px;
	padding-left: 38px;
	float: left;
}
#identity-iupui span {
	font-size: 14px;
}
#identity-iupui span.menu {
	float:right;
	padding-top: 5px;
}
#menu a {
	color: #FFFFFF;
	font-weight: normal;
	text-transform: lowercase;
}
a.button {
	/* Default positioning of button */

	text-align: center;
	line-height: 30px;
	/* will keep the text vertically centered on the 46px high button */
	font-size: 20px;
	/* default button font-size */
	/* Font styling */
	font-family: Helvetica;
	font-weight: bold;
	text-decoration: none;
	text-transform: lowercase;
	/* Button image is 29px wide. 
				14px for the left part of the button
				14px for the right
				1px for the middle
			*/
	border-width: 0 8px;
	margin-right:12px;
	margin-top:6px;
	padding-top: 6px;
	padding-bottom: 10px;
}
a.white.button {
	color: #000;
	text-shadow: #fff 0px 1px 1px;
	-webkit-border-image: url(../iconphone/images/whiteButton.png) 0 14 0 14;
}
a.gray.button {
	color: #fff;
	text-shadow: #333 0px 1px 1px;
	-webkit-border-image: url(../iconphone/images/grayButton.png) 0 14 0 14;
}
a.red.button {
	color: #fff;
	text-shadow: #333 0px 1px 1px;
	-webkit-border-image: url(images/redButton.png) 0 14 0 14;
	font-size: 14px;
}
a.button:hover {
	color: #fff;
	text-shadow: #333 0px 1px 1px;
	-webkit-border-image: url(images/blueButton.png) 0 14 0 14;
}
#header {
	padding:0px;
	margin-bottom: 3px;
}
#pagecontrols {
	height: 40px;
	position: relative;
	background-image: url(images/pagecontrols-back.png);
	text-align:center;
}
#pagecontrols img {
	padding-left:6px;
	padding-right: 6px;
}
#bottomlinks {
}
#bottomlinks div.identity {
	background-image: url(images/bottomlinks-back.png);
	height: 25px;
	font-size: 16px;
	padding-top: 5px;
}
#bottomlinks div.identity-iupui {
	background-image: url(images/bottomlinks-back.png);
	height: 25px;
	font-size: 16px;
	padding-top: 5px;
	background-position: 22px;
}
#bottomlinks span.left {
	float:left;
	padding-left: 8px;
}
#bottomlinks span.right {
	float:right;
	padding-right: 8px;
}
#bottomlinks a {
	color:#333;
}
#bottomlinks a:visited {
	color:#333;
}
/* INNER PAGES FORMATTING */




#newbread {
	background:url(images/h1-back.png);
	height: 44px;
}
#newbread img {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #430000;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: middle;
}
a.goback {
	color: #FFF;
	background: none;
	font: bold 12px/30px Helvetica;
	border-width: 0 8px 0 14px;
	margin: 0;
	padding: 0 3px;
	width: auto;
	height: 30px;
	text-shadow: rgb(46,55,68) 0 -1px 0;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	position: absolute;
	overflow: hidden;
	top: 7px;
	right: 6px;
	-webkit-border-image: url(images/backButton.png) 0 8 0 14;
}
#crumb-generic {
	font: 17px/1.33em Helvetica, Arial, sans-serif;
	background-image: url(images/h1-back.png);
	background-repeat: repeat;
	height: 44px;
	line-height: 44px;
	color: #CCC;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
#crumb-generic li {
	list-style-type: none;
	float: left;
	padding-left: 6px;
}
#crumb-generic a {
	height: 44px;
	display: block;
	background-image: url(images/icons/bc_separator.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px;
	text-decoration: none;
	color: #FFF;
}
#crumb-iupui {
	font: 17px/1.33em Helvetica, Arial, sans-serif;
	background-image: url(images/iupui_m_header.jpg);
	background-repeat: repeat-x;
	height: 44px;
	line-height: 44px;
	color: #CCC;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background-position: 12px;
}
#crumb-iupui li {
	list-style-type: none;
	float: left;
	padding-left: 6px;
}
#crumb-iupui a {
	height: 44px;
	display: block;
	background-image: url('images/bc_separator.png');
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 15px;
	text-decoration: none;
	color: #FFF;
}
.nonfocal {
	margin: 12px;
	font-size: 17px;
}


.nonfocal-test {
	margin: 12px;
	font-size: 17px;
	position: relative;
}


.nonfocal form {
	margin-left: -2px;
	margin-right: -2px;
}
.legend.nonfocal {
	margin: 0 0 24px 0;
	padding: 0 12px;
	color: #202629;
}
/* Navigation and results listings */



div.subnav {
	height: 28px;
	background-position: bottom;
	clear: both;
}


div.subnav-container {
	white-space: nowrap;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
}




a.button-subnav {
	color: #CCC;
	display: inline;
	
	height: 24px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../images/bg_button_a1.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin-top: 2px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	white-space: nowrap;
	
}


a.left {float: left;}
a.right {float: right;}

a.button-subnav span {
	display: block;
	line-height: 14px;
	padding: 3px 0 7px 18px;
	background-color: transparent;
	background-image: url(../images/bg_button_span1.png);
	background-repeat: no-repeat;
} 

a.button-subnav:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button-subnav:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 







#cat-icons img {
	padding-right:10px;
	vertical-align: bottom;
}
.nav {
	padding: 0;
	margin: 10px;
	font-weight: normal;
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid #c3cfd9;
	-webkit-border-radius: 9px;
}

.nav {
	padding: 0;
	margin: 10px;
	font-weight: normal;
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid #c3cfd9;
	-webkit-border-radius: 9px;
}

.nav li {
	list-style-type: none;
	border-top: 1px solid #c3cfd9;
	padding: 12px;
	position: relative;
}


.nav li {
	list-style-type: none;
	border-top: 1px solid #c3cfd9;
	padding: 12px;
	position: relative;
}

/*.nav li.highlight {
	background-color:#FFC;
}*/
/*.nav li.highlight {
	padding-left:40px;
	background-image: url(images/arrow3right.png);
	background-repeat: no-repeat;
	background-position: 10px;
}
*/

.nav li.highlight a.nostyle1 {
	background-image: url(images/checkmark.gif);
	background-repeat: no-repeat;
	background-position: 95%;
	color:#900;
	font-weight: bold;
}
.nav li:first-child {
	border-top: 0;
}
.nav a {
	display: block;
	padding: 8px 25px 8px 8px;
	margin: -8px;
	background-image: url(images/action-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	line-height: 1.2em;
	text-decoration: none;
	color: #000;
	-webkit-border-radius: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	/*white-space: nowrap;*/

}
.nav a.nostyle {
	text-decoration: underline;
	-webkit-border-radius: 5px;
	display: inline;
	background-image: none;
}
.nav a.nostyle1 {
	text-decoration: none;
	background-image: none;
}
.nav a:visited {
	color: #000;
}
/* don't put links of calendar descriptions in their own rows,
   leave them inline with their plain text siblings */

.nav li.description a {
	display: inline;
	padding: 0;
	margin: 0;
	background-image: none;
	text-decoration: none;
	color: #9C3231;
	-webkit-border-radius: none;
}
.nav h2, .nav h3 {
	margin-bottom: 0;
}




#newsindex {
	font-size:13px
}


.nav-news {
	padding: 0;
	margin: 0px;
	font-weight: normal;
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid #c3cfd9;
	
}



.nav-news li {
	list-style-type: none;
	border-top: 1px solid #c3cfd9;
	padding: 4px;
	position: relative;
	background-color: #FFF;
	background-image: url(images/story-back.png);
	background-position: bottom;
}

/*.nav-news li.highlight {
	background-color:#FFC;
}*/
/*.nav-news li.highlight {
	padding-left:40px;
	background-image: url(images/arrow3right.png);
	background-repeat: no-repeat;
	background-position: 10px;
}
*/

.nav-news li.highlight a.nostyle1 {
	background-image: url(images/checkmark.gif);
	background-repeat: no-repeat;
	background-position: 95%;
	color:#900;
	font-weight: bold;
}
.nav-news li:first-child {
	border-top: 0;
}
.nav-news a {
	display: block;
	background-image: url(images/action-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	line-height: 1.2em;
	text-decoration: none;
	color: #900;
	-webkit-border-radius: 5px;
	overflow: hidden;
	text-overflow: ellipsis;	/*white-space: nowrap;*/
	padding-top: 8px;
	padding-right: 25px;
	padding-bottom: 8px;
	padding-left: 8px;
	margin-top: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
	margin-left: 60px;
	min-height:54px;
}
.nav-news a.nostyle {
	text-decoration: underline;
	-webkit-border-radius: 5px;
	display: inline;
	background-image: none;
}
.nav-news a.nostyle1 {
	text-decoration: none;
	background-image: none;
}
.nav-news a:visited {
	color: #900;
}
/* don't put links of calendar descriptions in their own rows,
   leave them inline with their plain text siblings */

.nav-news li.description a {
	display: inline;
	padding: 0;
	margin: 0;
	background-image: none;
	text-decoration: none;
	color: #9C3231;
	-webkit-border-radius: none;
}
.nav-news h2, .nav-news h3 {
	margin-bottom: 0;
}



.nav-news div.teaserline{
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	color:#000
}


.nav-news div.timestamp {
	color:#999;
	font-size: .9em;
}




#eventsindex { font-size:12px}


.nav-events {
	padding: 0;
	margin: 0px;
	font-weight: normal;
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid #c3cfd9;
	font-size: 13px;
}



.nav-events li {
	list-style-type: none;
	border-top: 1px solid #c3cfd9;
	padding: 4px;
	position: relative;
	background-color: #FFF;
	background-image: url(images/story-back.png);
	background-position: bottom;
}

/*.nav-events li.highlight {
	background-color:#FFC;
}*/
/*.nav-events li.highlight {
	padding-left:40px;
	background-image: url(images/arrow3right.png);
	background-repeat: no-repeat;
	background-position: 10px;
}
*/

.nav-events li.highlight a.nostyle1 {
	background-image: url(images/checkmark.gif);
	background-repeat: no-repeat;
	background-position: 95%;
	color:#900;
	font-weight: bold;
}
.nav-events li:first-child {
	border-top: 0;
}
.nav-events a {
	display: block;
	background-image: url(images/action-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	line-height: 1.2em;
	text-decoration: none;
	color: #000;
	-webkit-border-radius: 5px;
	overflow: hidden;
	text-overflow: ellipsis;	/*white-space: nowrap;*/
	padding-top: 8px;
	padding-right: 25px;
	padding-bottom: 8px;
	padding-left: 8px;
	font-weight: bold;	
}
.nav-events a.nostyle {
	text-decoration: underline;
	-webkit-border-radius: 5px;
	display: inline;
	background-image: none;
}
.nav-events a.nostyle1 {
	text-decoration: none;
	background-image: none;
}
.nav-events a:visited {
	color: #000;
}
/* don't put links of calendar descriptions in their own rows,
   leave them inline with their plain text siblings */

.nav-events li.description a {
	display: inline;
	padding: 0;
	margin: 0;
	background-image: none;
	text-decoration: none;
	color: #9C3231;
	-webkit-border-radius: none;
}
.nav-events h2, .nav-events h3 {
	margin-bottom: 0;
}



.nav-events div.teaserline{
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	color:#000
}


.nav-events div.timestamp {
	color:#999;
	font-size: .9em;
}



div.dateformat{
	background-color:#900;
	background-image: url(images/dateformat-back.png);
	font-size: 13px;
	font-weight: bold;
	padding-right: 12px;
	padding-left: 12px;
}






.focal {
	position: relative;
	padding: 12px;
	margin: 10px;
	font-weight: normal;
	line-height: 1.33em;
	color: #000;
	background-color: #fff;
	-webkit-border-radius: 9px;
}
.focal .nav {
	margin: 10px -11px;
	-webkit-border-radius: 0px;
}
.secondary {
	margin: 10px;
	padding: 0;
	background-color: #edf1f7;
	-webkit-border-radius: 9px;
	font-size: 16px;
	font-weight: normal;
	color: #000;
}
.secondary li {
	list-style-type: none;
	border-top: 1px solid #acb8c2;
	position: relative;
	padding: 9px 10px;
}
.secondary li:first-child {
	border-top: none;
}
.secondary a {
	display: block;
	padding: 9px 25px 9px 8px;
	margin: -7px;
	background-image: url(images/action-arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	line-height: 1.2em;
	text-decoration: none;
	color: #101619;
	-webkit-border-radius: 5px;
}
.secondary a:visited {
	color: #101619;
}
/* Action links (dial phone, launch map, compose email, etc.) */
.actionlink {
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 38px;
	padding-left: 0;
}
a.arrow {
	background-image: url(images/action-arrow.png);
	padding-right: 25px;
}
a.phone {
	background-image: url(images/action-phone.png);
	padding-right: 36px;
}
a.email {
	background-image: url(images/action-email.png);
	padding-right: 38px;
}
a.map {
	background-image: url(images/action-map.png);
	padding-right: 38px;
}
a.active-alert {
	background-image: url(images/action-activealert.png);
	padding-right: 38px;
}
a.search {
	background-image: url(images/action-search.png);
	padding-right: 36px;
}
a.people {
	background-image: url(images/action-people.png);
	padding-right: 36px;
}
a.external {
	background-image: url(images/action-external.png);
	padding-right: 34px;
}
a.pdf {
	background-image: url(images/action-pdf.png);
	padding-right: 34px;
}
a.noaction {
	background-image: none;
	padding-right: 7px;
}
/*ONCOURSE FORMATTING START*/





table.siteListClass {
	margin: -7;
	padding: 9px 10px 9px 10px;
	border-spacing: 0px;
}
table.siteListClass tr.stripe1 {
	background-color: #DDDDDD;
	font-weight: bold;
	color: black;
}
table.siteListClass tr.stripe2 {
	background-color: #FFFFFF;
	font-weight: bold;
	color: black;
}
.stripe3 {
	background-color: #B81818;
	color: #FFFFFF;
	margin: -7;
	padding: 9px 10px 9px 10px;
	border-spacing: 0px;
}
table.siteListClass th {
	height: 36px;
	color: #FFFFFF;
	font-weight: bold;
}
table.siteListClass .countClass {
	text-align: center;
}
ul.nav li.oncourseHeader {
	background-image: url(images/h1-back.png);
	background-repeat: repeat-x;
	height: 36px;
	color: #FFFFFF;
	font-weight: bold;
}
.read {
	background-color: #DDDDDD;
}
span.OncourseHeader {
	font-weight: bold;
	font-size: 26px;
	line-height: 1.2em;
	padding: 0px 0px 0px 10px;
	color: #FFFFFF;
}
.oncourseInfo {
	padding: 0 0 0 10px;
}
/*ONCOURSE FORMATTING END*/

/* Forms */
form {
	margin: 18px 0 12px 0;
	padding: 0;
	border: none;
	position: relative;
}
fieldset {
	margin: 6px 0;
	padding: 0;
	border: none;
	position: relative;
}
input, select {
	color: #223;
	font-size: 17px;
	line-height: 1em;
}
select {
	width: 100%;
	border: 1px solid #6585a9;
	-webkit-border-radius: 9px;
}
.forminput {
	border: 1px solid #758ea6;
	width: 100%;
	height: 30px;
	padding: 4px 6px;
	-webkit-appearance: textfield;
	-webkit-border-radius: 5px;
}
textarea {
	-webkit-appearance: textarea;
	border: 1px solid #758ea6;
	width: 96%;
	padding: 4px 6px;
	-webkit-border-radius: 5px;
	font-size: 17px;
	line-height: 1em;
	font: 17px/1.33em Helvetica, Arial, sans-serif;
	background-color: white;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-box-orient: vertical;
 resize:;
	cursor: auto;
}
/* Forms end */





/* MAPS */


#map table {
	width: auto;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	background-color: #797979;
}
#map img {
}
#map td {
	margin: 0px;
	padding: 0px;
}
#map td.nav-updown {
	background-image: url(images/mapnav-back-h-top.png);
	background-repeat: repeat-x;
	text-align: center;
}
#map td.nav-leftright {
	background-image: url(images/mapnav-back-v.png);
	background-repeat: repeat-y;
	vertical-align: middle;
}
#map td.controls {
	background-color: #F2F2F2;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	padding-top: 8px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
}
#map span.right {
	float: right;
}
#map span.left {
	float: left;
}
#map div.address {
	padding-top:4px;
	font-size:11px;
	line-height:normal
}
#maptoggle li {
	display:inline;
	float:left;
	line-height:1.2em;
	margin:0;
	padding:0 4px;
}
#maptoggle ul {
	color:#FFF;
	font-size:0.7em;
	margin:0;
	padding:0;
}
#maptoggle a {
	color:#666;
	text-decoration:none;
}
#maptoggle li.inactive1 {
	background-color:#CCC;
	border-top-width:1px;
	border-bottom-width:1px;
	border-top-style:solid;
	border-bottom-style:solid;
	border-top-color:#666;
	border-bottom-color:#666;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#666;
}
#map td.nostyle {
	background-color:#FFF;
}
#maptoggle li.inactive {
	background-color:#CCC;
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-top-color:#666;
	border-right-color:#666;
	border-bottom-color:#666;
}
#maptoggle li.active1, #maptoggle li.active {
	background-color:#6B6B6B;
	border-color:#000 #000 #6b6b6b;
	border-style:solid;
	border-width:1px;
}

#maptoggle .timestamp {
	float: right;
	font-size: 0.7em;
	font-style: italic;
	color: #999;
	line-height: 1.2em;
}

/* END MAPS */


/* CAMPUS ALERTS BANNER */

#ca-banner-red {
	background:#F00 url(images/bannerback.png)
}
#ca-banner-red, #ca-banner-orange, #ca-banner-yellow, #ca-banner-green {
	width:100%;
	font-weight:bold;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000;
	padding-top:5px;
	padding-bottom:5px;
	height:24px
}
#ca-banner-red a, #ca-banner-orange a, #ca-banner-green a {
	color:#FFF
}
#ca-banner-red a, #ca-banner-orange a, #ca-banner-yellow a, #ca-banner-green a {
	text-transform:lowercase;
	font-weight:normal
}
#ca-banner-red span.left, #ca-banner-orange span.left, #ca-banner-yellow span.left, #ca-banner-green span.left {
	float:left;
	padding-left:12px
}
#ca-banner-red span.right, #ca-banner-orange span.right, #ca-banner-yellow span.right, #ca-banner-green span.right {
	float:right;
	padding-right:12px
}
#ca-banner-orange {
	background:#F60 url(images/bannerback.png)
}
#ca-banner-yellow {
	background:#FF0 url(images/bannerback.png)
}
#ca-banner-yellow, #ca-banner-yellow a {
	color:#000
}
#ca-banner-green {
	background:#090 url(images/bannerback.png)
}
/* CAMPUS ALERTS BANNER END*/
#personalize-settings img {
	padding-left:3px;
	padding-right:3px
}
#personalize-settings td {
	width:50%
}
#personalize-settings a {
	display: inline;
	padding: 0px;
	margin: 0px;
	background-image: none;
	line-height: 1.2em;
	text-decoration: none;
	color: #000;
	-webkit-border-radius: 5px;
}
/**** ICONFIED LIST ****/
			
			
			ul li a img.ico, ul li img.ico {
	float: left;
	display: block;
	margin: -4px 10px -4px -1px;
}




.livescore-container {
	width: 100%;
	margin: 0 auto; 
	overflow: hidden; 
}
.livescore-sidebar1 {
	float: left;
	width: 20%;
	text-align: center;
	/*background-color: #F4F4F4;
	-webkit-border-radius: 5px;*/
	
}
.livescore-content {
	width: 60%;
	float: left;

}
.livescore-sidebar2 {
	float: left;
	width: 20%;
	/*background-color: #F4F4F4;
	-webkit-border-radius: 5px*/;
	text-align: center;
}
span.gamestatus{
	text-align: center;
	color: #900;
	font-size: 14px;
	font-weight: bold;
}

span.opponent{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.sport-name{
	text-align: center;
	font-weight: bold;
	line-height: 0.9em;
	font-size: 18px;
}


.gametimeloc{
	text-align: center;
	font-size: 12px;
	line-height: 1.2em;
	color: #666;
}

.currentscore{
	text-align: center;
	font-size: 22px;
	line-height: 1.2em;
	color: #000;
	font-weight: bold;
}

.team-icon{
	padding:0px;
	height: 24px;
	width: 24px;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
}
.scorebox {
	/*border: 1px solid #DCDCDC;
	-webkit-border-radius: 8px;*/
}
.nav a.nostyle3 {
	text-decoration: underline;
	-webkit-border-radius: 5px;
	background-image: none;
	margin: 0px;
	padding: 0px;
	color: #900;
	display: inline;
}





img.rowicon-news {
	float:left;
	width:60px;
	height:60px;
	margin-right:12px;
	border: 1px solid #CCC;
}


em.news {
	font-style:normal;
	position: relative;
	top: 6px;
}

em.news-noimage {
	font-style:normal;
	position: relative;
	
}

img.rowicon-team {
	float:left;
	width:24px;
	height:24px;
	margin-right:12px;
}
em.team {
	font-style:normal;
	position: relative;
	top: 2px;
}



img.rowicon-roster {
	float:left;
	width:60px;
	height:60px;
	margin-right:12px;
}
img.rowicon-player {
	float:left;
	margin-right:12px;
}
em.roster {
	font-style:normal;
	position: relative;
	top: 2px;
	font-weight: bold;
}



em.roster-smallprint {
	position: relative;
	font-size: 14px;
	color: #333;
	line-height: 1.2em;
	font-style: normal;
}
span.roster-label {
	color:#900;
	padding-left: 20px;
}





#datatable {
	font-size:14px
}



#datatable table{ border-collapse:collapse
}

#datatable td {
	vertical-align: top;
	line-height:1em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E6E6E6;
	padding: 6px;
}

#datatable th {
	line-height:1em;
	text-align: left;
	font-size: 1.5em;
}


#datatable td.table-subheader {
	color: #000;
	background-color: #E0E0E0;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}


#datatable a {
	text-decoration: none;
	-webkit-border-radius: 5px;
	background-image: none;
	margin: 0px;
	padding: 0px;
	color: #900;
}
code {
		white-space: -pre-wrap;     /* Opera 4-6 */
		word-wrap: break-word;      /* IE 5+ */
	}

div.closebox {
	position: absolute;
	top: -9px;
	left: 95%;
	height: 29px;
	width: 29px;
}
