/* Athletics - Custom Grid
-----------------------------------------------------------------------------------------------------------*/






/* grid d: 20/60/20/ */
.ui-grid-20-60-20 .ui-block-a, .ui-grid-20-60-20 .ui-block-c {
	width: 20%;
}
.ui-grid-20-60-20 .ui-block-b {
	width: 60%;
	text-align:center;
	border-left:none;
	border-right:0px none
}
.ui-grid-20-60-20 .ui-block-a {
	clear: left;
}


