/* resource icons */
#class_details ul.ui-listview a, div#announcement ul.ui-listview a, div#message ul.ui-listview a {
	background: transparent url('../images/service-icons/mcl-file.png') 15px 50% no-repeat;
	padding-left: 50px;
}
#forum ul li ul li a {
	background: transparent url('../images/service-icons/mcl-file.png') 10px 50% no-repeat;
	padding-left: 30px;
}
#forum ul li ul li {
	padding-top: 3px;
	padding-bottom: 3px;
}
#class_details ul.ui-listview a.icon-FOLDER, #announcement ul.ui-listview a.icon-FOLDER, #message ul.ui-listview a.icon-FOLDER, #forum ul li ul li a.icon-FOLDER {
	background-image: url('../images/service-icons/mcl-folder.png');
}
#class_details ul.ui-listview a.icon-IMAGE, #announcement ul.ui-listview a.icon-IMAGE, #message ul.ui-listview a.icon-IMAGE, #forum ul li ul li a.icon-IMAGE {
    background-image: url('../images/service-icons/mcl-image.png');
}
#class_details ul.ui-listview a.icon-VIDEO, #announcement ul.ui-listview a.icon-VIDEO, #message ul.ui-listview a.icon-VIDEO, #forum ul li ul li a.icon-VIDEO {
    background-image: url('../images/service-icons/mcl-movie.png');
}
#class_details ul.ui-listview a.icon-TEXT, #announcement ul.ui-listview a.icon-TEXT, #message ul.ui-listview a.icon-TEXT, #forum ul li ul li a.icon-TEXT {
    background-image: url('../images/service-icons/mcl-doc.png');
}
#class_details ul.ui-listview a.icon-PRESENTATION, #announcement ul.ui-listview a.icon-PRESENTATION, #message ul.ui-listview a.icon-PRESENTATION, #forum ul li ul li a.icon-PRESENTATION {
    background-image: url('../images/service-icons/mcl-powerpoint.png');
}
#class_details ul.ui-listview a.icon-SPREADSHEET, #announcement ul.ui-listview a.icon-SPREADSHEET, #message ul.ui-listview a.icon-SPREADSHEET, #forum ul li ul li a.icon-SPREADSHEET {
    background-image: url('../images/service-icons/mcl-spreadsheet.png');
}
#class_details ul.ui-listview a.icon-PDF, #announcement ul.ui-listview a.icon-PDF, #message ul.ui-listview a.icon-PDF, #forum ul li ul li a.icon-PDF {
    background-image: url('../images/service-icons/mcl-pdf.png');
}
#class_details ul.ui-listview a.icon-AUDIO, #announcement ul.ui-listview a.icon-AUDIO, #message ul.ui-listview a.icon-AUDIO, #forum ul li ul li a.icon-AUDIO {
    background-image: url('../images/service-icons/mcl-audio.png');
}
#class_details ul.ui-listview a.icon-LINK, #announcement ul.ui-listview a.icon-LINK, #message ul.ui-listview a.icon-LINK, #forum ul li ul li a.icon-LINK {
    background-image: url('../images/service-icons/mcl-weblink.png');
}

#class_details ul.ui-listview a.icon-INSTRUCTOR, #announcement ul.ui-listview a.icon-INSTRUCTOR, #message ul.ui-listview a.icon-INSTRUCTOR, #forum ul li ul li a.icon-INSTRUCTOR {
    background-image: url('../images/service-icons/mcl-teacher.png');
}
#class_details ul.ui-listview a.icon-ANNOUNCEMENTS, #announcement ul.ui-listview a.icon-ANNOUNCEMENTS, #message ul.ui-listview a.icon-ANNOUNCEMENTS, #forum ul li ul li a.icon-ANNOUNCEMENTS {
    background-image: url('../images/service-icons/mcl-announce.png');
}
#class_details ul.ui-listview a.icon-ROSTER, #announcement ul.ui-listview a.icon-ROSTER, #message ul.ui-listview a.icon-ROSTER, #forum ul li ul li a.icon-ROSTER {
    background-image: url('../images/service-icons/mcl-roster.png');
}
#class_details ul.ui-listview a.icon-FORUMS, #announcement ul.ui-listview a.icon-FORUMS, #message ul.ui-listview a.icon-FORUMS, #forum ul li ul li a.icon-FORUMS {
    background-image: url('../images/service-icons/mcl-forums.png');
}
#class_details ul.ui-listview a.icon-RESOURCES, #announcement ul.ui-listview a.icon-RESOURCES, #message ul.ui-listview a.icon-RESOURCES, #forum ul li ul li a.icon-RESOURCES {
    background-image: url('../images/service-icons/mcl-resources.png');
}
#class_details ul.ui-listview a.icon-MESSAGES, #announcement ul.ui-listview a.icon-MESSAGES, #message ul.ui-listview a.icon-MESSAGES, #forum ul li ul li a.icon-MESSAGES {
    background-image: url('../images/service-icons/mcl-messages.png');
}


.ui-li-icon.ui-li-thumb {
	width:18px;
	height:18px;
}

.ui-li-rightcont {
	position: absolute;
	font-size: 11px;
	font-weight: normal;
	padding: .2em .5em;
	top: 50%;
	margin-top: -.9em;
	right: 38px;
	color:#FFF;
	border-style: none;
	background:none;
	text-shadow:none;
}
.ui-li-divider .ui-li-rightcont, .ui-li-static .ui-li-rightcont {
	right: 10px;
}
/*.forum-thread {
	overflow:visible;
	white-space:normal;
	margin-bottom: 1em;
}*/
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	/* [disabled]padding: 0.7em 40px 0.7em 15px;
*/
	display: block;
}
/*.forum-quote {
	padding: 1em;
	color:#666;
	font-style: italic;
	overflow:visible;
	white-space:normal;
}
.forum-quote p:first-child {
	color:#000;
	font-weight: bold;
	overflow:visible;
	white-space:normal;
}
.forum-quote p {
	overflow:visible;
	white-space:normal;
}
.forum-reply textarea.ui-input-text {
	height: 200px;
	}
	*/

.forum ul{
	list-style-type: none;
	margin:0;
	padding:0;
	font-size:12px;
	white-space:normal;
	font-weight: normal;
}

.forum ul li div {
	border-left:1px solid black;
	padding-left:5px;
}

.forum .date {
	font-size:10px;
}

.forum h3 {
	margin-bottom:0;
	height: 20px;
	padding-top: 0.1em;
}

h3.unread {
    padding-left: 25px;
    background: transparent url('images/icon-newMessage.png') top left no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
    
    h3.unread {
        background-image: url('images/icon-newMessage@2x.png');
        -moz-background-size: 18px 19px;
        -o-background-size:  18px 19px;
        -webkit-background-size: 18px 19px;
        background-size: 18px 19px;
    }
}

.forum ul li a i {
	font-size:12px;
	font-weight: normal;
	white-space: normal;
	display:block;
	border-left: 1px dashed #999;
	margin-left: 20px;
	padding-left: 5px;
	color: #545454;
}

.forum ul li {
	font-size:12px;
	white-space:normal;
	font-weight: normal;
}

.forum .ui-li .ui-btn-text a.ui-link-inherit { text-overflow: ellipsis; overflow: hidden; white-space: normal;  }.forum ul li a b i {
	font-weight:bold;
	color:#990000;
}
