
.news-index li {
	font-size:.7em
}
.news-index .ui-li-thumb, .ui-li-icon {
	position: absolute;
	left: 0px;
	top: 0px;
	max-height: 120px;
	max-width: 120px;
}
.news-index .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
	min-height: 60px;
	padding-left: 130px;
}
.news-index .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding-right: 40px;
}
.news-index .ui-icon-listview {
	background:url(images/icon-listview.png)
}
.news-index p.news-title {
	white-space:normal;
	margin:0em;
}
.news-index .news-topstory .bottom-fade {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(46%, rgba(249,249,249,0.85)), color-stop(83%, rgba(244,244,244,0.95)), color-stop(100%, rgba(244,244,244,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f4f4', GradientType=0 );
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	position:absolute;
	width:100%;
	height:40px;
	top:80px;
}
.news-index .news-topstory a {
	/* [disabled]padding-bottom:0em; */
}
.news-index .news-topstory a img {
	height:200px;s
	width:200px;
}
.news-index .news-topstory a div {
	max-height:100px;
	min-height:100px;
	overflow:hidden;
}
.news-index .news-topstory a div .news-title {
	white-space:normal;
	font-weight:bold;
	margin-bottom:1em;
	margin-top:.2em;
}
.news-index .news-topstory a div .news-teaser {
	white-space:normal;
	margin-bottom:0px;
}






.news-index .ui-li, .ui-li.ui-field-contain {
	
	border-top-width: 0px;
}



.news-story h3 {
	margin-top:0px;
}
.news-story p {
	font-size:0.8em;
}
.news-story .image-caption {
	float:left;
	margin-right:0.5em;
	width:140px;
	padding:0.4em;
	background: #FFFFFF;
	border: 1px solid #CCC;
	margin-bottom: .5em;
}
.news-story .image-caption img {
	width:140px;
	height: 140px;
}
.news-story .image-caption p {
	font-size:.7em;
	margin:0px;
}
.news-story p strong {
	color:#999999;
}

