/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid #2A2A2A;
	background: 			#111111;
	color: 					#ffffff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #000000;
	/*background-image: -moz-linear-gradient(top, #cc0000, #990000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc0000), color-stop(1, #990000));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc0000', EndColorStr='#990000')";*/
	background:#7D110C
	
	
}
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-a .ui-link-inherit {
	color: 					#fff;
}
.ui-bar-a .ui-link {
	color: 					#7cc4e7;
	font-weight: bold;
}
.ui-body-a {
	border: 1px solid #2A2A2A;
	background: 			#222222;
	color: 					#fff;
	text-shadow: 0 1px 0 #000;
	font-weight: normal;
	background-image: -moz-linear-gradient(top, #666666, #222222);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #222222));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#222222)')";
}
.ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-body-a .ui-link-inherit {
	color: 					#fff;
}
.ui-body-a .ui-link {
	color: 					#2489CE;
	font-weight: bold;
}
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.ui-btn-up-a {
	border: 1px solid #222;
	background: 			#333333;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, #cc0000, #990000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc0000), color-stop(1, #990000));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc0000', EndColorStr='#990000')";
}
.ui-btn-up-a a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-hover-a {
	border: 1px solid #000;
	background: 			#444444;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, #990000, #660000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #990000), color-stop(1, #660000));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#990000', EndColorStr='#660000')";
}
.ui-btn-hover-a a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-a {
	border: 1px solid #000;
	background: 			#3d3d3d;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #000;
	background-image: -moz-linear-gradient(top, #333333, #5a5a5a);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(1, #5a5a5a));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='#5a5a5a')";
}
.ui-btn-down-a a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}
/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: 1px solid #456f9a;
	background: 			#000000;
	color: 					#fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #254f7a;
	background-image: -moz-linear-gradient(top, #484848, #000000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #484848), color-stop(1, #000000));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#484848', EndColorStr='#000000')";
}
.ui-bar-b, .ui-bar-b input, .ui-bar-b select, .ui-bar-b textarea, .ui-bar-b button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-b .ui-link-inherit {
	color: 					#fff;
}
.ui-bar-b .ui-link {
	color: 					#7cc4e7;
	font-weight: bold;
}
.ui-body-b {
	border: 1px solid #C6C6C6;
	background: 			#cccccc;
	color: 					#333333;
	text-shadow: 0 1px 0 #fff;
	font-weight: normal;
	background-image: -moz-linear-gradient(top, #e6e6e6, #cccccc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(1, #cccccc));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#cccccc')";
}
.ui-body-b, .ui-body-b input, .ui-body-b select, .ui-body-b textarea, .ui-body-b button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-body-b .ui-link-inherit {
	color: 					#333333;
}
.ui-body-b .ui-link {
	color: 					#2489CE;
	font-weight: bold;
}
.ui-btn-up-b {
	border: 1px solid #000000;
	background: 			#484848;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #145072;
	background-image: -moz-linear-gradient(top, #484848, #000000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #484848), color-stop(1, #000000));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#484848', EndColorStr='#000000')";
}
.ui-btn-up-b a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-hover-b {
	border: 1px solid #000000;
	background: 			#000000;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #014D68;
	background-image: -moz-linear-gradient(top, #000000, #000000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #000000));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', EndColorStr='#000000')";
}
.ui-btn-hover-b a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-b {
	border: 1px solid #000000;
	background: 			#4e89c5;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 -1px 1px #225377;
	background-image: -moz-linear-gradient(top, #000000, #000000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1, #000000));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', EndColorStr='#000000')";
}
.ui-btn-down-b a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}
/* C -----------------------------------------------------------------------------------------------------------*/
.ui-bar-c
{
	border: 1px solid #B3B3B3;
	background: #e9eaeb;
	color: #3E3E3E;
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #f0f0f0), color-stop(1, #e9eaeb));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#e9eaeb')";
}

.ui-bar-c, .ui-bar-c input, .ui-bar-c select, .ui-bar-c textarea, .ui-bar-c button { font-family: Helvetica, Arial, sans-serif; }

.ui-body-c
{
	border: 1px solid #B3B3B3;
	color: #333333;
	text-shadow: 0 1px 0 #fff;
	background: #f0f0f0;
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #eeeeee), color-stop(1, #dddddd));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#dddddd')";
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button { font-family: Helvetica, Arial, sans-serif; }
.ui-body-c .ui-link-inherit { color: #333333; }

.ui-body-c .ui-link
{
	/*color: #2489CE;*/
	color: #2F3E46;
	font-weight: bold;
}

.ui-btn-up-c
{
	/*border: 1px solid #ccc;*/
	background: #eee;
	font-weight: bold;
	color: #444;
	text-shadow: 0 1px 1px #f6f6f6;
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #fdfdfd), color-stop(1, #eeeeee));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd', EndColorStr='#eeeeee')";
}

.ui-btn-up-c a.ui-link-inherit { color: #2F3E46; }

.ui-btn-hover-c
{
	/*border: 1px solid #bbb;*/
	background: #dadada;
	font-weight: bold;
	color: #101010;
	text-shadow: 0 1px 1px #fff;
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #ededed), color-stop(1, #dadada));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ededed', EndColorStr='#dadada')";
}

.ui-btn-hover-c a.ui-link-inherit { color: #2F3E46; }

.ui-btn-down-c
{
/*	border: 1px solid #808080;*/
	background: #fdfdfd;
	font-weight: bold;
	color: #111111;
	text-shadow: 0 1px 1px #ffffff;
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #eeeeee), color-stop(1, #fdfdfd));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#fdfdfd')";
}

.ui-btn-down-c a.ui-link-inherit { color: #2F3E46; }

.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c
{
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}
/* D
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-d {
	border: 1px solid #ccc;
	background: 			#bbb;
	color: 					#333;
	text-shadow: 0 1px 0 #eee;
	background-image: -moz-linear-gradient(top, #ddd, #bbb);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(1, #bbb));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#bbbbbb')";
}
.ui-bar-d, .ui-bar-d input, .ui-bar-d select, .ui-bar-d textarea, .ui-bar-d button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-d .ui-link-inherit {
	color: 					#333;
}
.ui-bar-d .ui-link {
	color: 					#2489CE;
	font-weight: bold;
}
.ui-body-d {
	border: 1px solid #ccc;
	color: 					#333333;
	text-shadow: 0 1px 0 #fff;
	background: 			#ffffff;
}
.ui-body-d, .ui-body-d input, .ui-body-d select, .ui-body-d textarea, .ui-body-d button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-body-d .ui-link-inherit {
	color: 					#333333;
}
.ui-body-d .ui-link {
	color: 					#2489CE;
	font-weight: bold;
}
.ui-btn-up-d {
	border: 1px solid #ccc;
	background: 			#fff;
	font-weight: bold;
	color: 					#444;
	text-shadow: 0 1px 1px #fff;
}
.ui-btn-up-d a.ui-link-inherit {
	color: 					#333;
}
.ui-btn-hover-d {
	border: 1px solid #aaa;
	background: 			#eeeeee;
	font-weight: bold;
	color: 					#222;
	cursor: pointer;
	text-shadow: 0 1px 1px #fff;
	background-image: -moz-linear-gradient(top, #fdfdfd, #eeeeee);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdfdfd), color-stop(1, #eeeeee));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd', EndColorStr='#eeeeee')";
}
.ui-btn-hover-d a.ui-link-inherit {
	color: 					#222;
}
.ui-btn-down-d {
	border: 1px solid #aaaaaa;
	background: 			#ffffff;
	font-weight: bold;
	color: 					#111;
	text-shadow: 0 1px 1px #ffffff;
	background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #ffffff));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff')";
}
.ui-btn-down-d a.ui-link-inherit {
	border: 1px solid #808080;
	background: 			#ced0d2;
	font-weight: bold;
	color: 					#111;
	text-shadow: none;
	background-image: -moz-linear-gradient(top, #cccccc, #eeeeee);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cccccc), color-stop(1, #eeeeee));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#eeeeee')";
}
.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}
/* E
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-e {
	border: 1px solid #F7C942;
	background: 			#fadb4e;
	color: 					#333;
	text-shadow: 0 1px 0 #fff;
	background-image: -moz-linear-gradient(top, #fceda7, #fadb4e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fceda7), color-stop(1, #fadb4e));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fceda7', EndColorStr='#fadb4e')";
}
.ui-bar-e, .ui-bar-e input, .ui-bar-e select, .ui-bar-e textarea, .ui-bar-d button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-e .ui-link-inherit {
	color: 					#333;
}
.ui-bar-e .ui-link {
	color: 					#2489CE;
	font-weight: bold;
}
.ui-body-e {
	border: 1px solid #F7C942;
	color: 					#333333;
	text-shadow: 0 1px 0 #fff;
	background: 			#faeb9e;
	background-image: -moz-linear-gradient(top, #fff, #faeb9e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #faeb9e));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#faeb9e')";
}
.ui-body-e, .ui-body-e input, .ui-body-e select, .ui-body-e textarea, .ui-body-e button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-body-e .ui-link-inherit {
	color: 					#333333;
}
.ui-body-e .ui-link {
	color: 					#2489CE;
	font-weight: bold;
}
.ui-btn-up-e {
	border: 1px solid #F7C942;
	background: 			#fadb4e;
	font-weight: bold;
	color: 					#333;
	text-shadow: 0 1px 0 #fff;
	background-image: -moz-linear-gradient(top, #fceda7, #fadb4e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fceda7), color-stop(1, #fadb4e));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fceda7', EndColorStr='#fadb4e')";
}
.ui-btn-up-e a.ui-link-inherit {
	color: 					#333;
}
.ui-btn-hover-e {
	border: 1px solid #e79952;
	background: 			#fbe26f;
	font-weight: bold;
	color: 					#111;
	text-shadow: 0 1px 1px #fff;
	background-image: -moz-linear-gradient(top, #fcf0b5, #fbe26f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcf0b5), color-stop(1, #fbe26f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf0b5', EndColorStr='#fbe26f')";
}
.ui-btn-hover-e a.ui-link-inherit {
	color: 					#333;
}
.ui-btn-down-e {
	border: 1px solid #F7C942;
	background: 			#fceda7;
	font-weight: bold;
	color: 					#111;
	text-shadow: 0 1px 1px #ffffff;
	background-image: -moz-linear-gradient(top, #fadb4e, #fceda7);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fadb4e), color-stop(1, #fceda7));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fadb4e', EndColorStr='#fceda7')";
}
.ui-btn-down-e a.ui-link-inherit {
	color: 					#333;
}
.ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}
/* Listview Icons
-----------------------------------------------------------------------------------------------------------*/

.ui-li-icon {
	/*
	
	disabled while testing sakai resource icons
	
	max-height: 40px;
	max-width: 40px;
	left: 10px;
	top: .3em;*/
}
.ui-li-has-icon .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-icon {
	/*
		disabled while testing sakai resource icons
	
	min-height: 20px;
	padding-left: 50px;*/
}
/* Custom Grid Configurations  (need to refactor using 960 grid framework?)
-----------------------------------------------------------------------------------------------------------*/
.ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d, .ui-grid-20-60-20, .ui-grid-evt-month {
	overflow: hidden;
}
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e, .ui-block-f, .ui-block-g {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
}
.ui-block-1, .ui-block-2, .ui-block-3, .ui-block-4 .ui-block-5, .ui-block-6, .ui-block-7 {
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	min-height: 1px;
}
/* Athletics - Custom Grid
-----------------------------------------------------------------------------------------------------------*/






/* grid d: 20/60/20/ */
.ui-grid-20-60-20 .ui-block-a, .ui-grid-20-60-20 .ui-block-c {
	width: 20%;
}
.ui-grid-20-60-20 .ui-block-b {
	width: 60%;
	text-align:center;
	border-left:none;
	border-right:0px none
}
.ui-grid-20-60-20 .ui-block-a {
	clear: left;
}




/* MISC STUFF
-----------------------------------------------------------------------------------------------------------*/

.shadow {
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
}

/* NEWS
-----------------------------------------------------------------------------------------------------------*/

.news-index li {
	font-size:.7em
}
.news-index .ui-li-thumb, .ui-li-icon {
	/*
	
	disabled while testing sakai resource icons
	
	position: absolute;
	left: 0px;
	top: 0px;
	max-height: 120px;
	max-width: 120px;*/
}
.news-index .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
	min-height: 60px;
	padding-left: 130px;
}
.news-index .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding-right: 40px;
}
.news-index .ui-icon-listview {
	background:url(images/icon-listview.png)
}
.news-index p.news-title {
	white-space:normal;
	margin:0em;
}
.news-index .news-topstory .bottom-fade {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(46%, rgba(249,249,249,0.85)), color-stop(83%, rgba(244,244,244,0.95)), color-stop(100%, rgba(244,244,244,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f4f4', GradientType=0 );
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,0.85) 46%, rgba(244,244,244,0.95) 83%, rgba(244,244,244,1) 100%);
	position:absolute;
	width:100%;
	height:40px;
	top:80px;
}
.news-index .news-topstory a {
	/* [disabled]padding-bottom:0em; */
}
.news-index .news-topstory a img {
	height:200px;
	width:200px;
}
.news-index .news-topstory a div {
	max-height:100px;
	min-height:100px;
	overflow:hidden;
}
.news-index .news-topstory a div .news-title {
	white-space:normal;
	font-weight:bold;
	margin-bottom:1em;
	margin-top:.2em;
}
.news-index .news-topstory a div .news-teaser {
	white-space:normal;
	margin-bottom:0px;
}
	





.news-index .ui-li, .ui-li.ui-field-contain {
	
	border-top-width: 0px;
}



.news-story h3 {
	margin-top:0px;
}
.news-story p {
	font-size:0.8em;
}
.news-story .image-caption {
	float:left;
	margin-right:0.5em;
	width:140px;
	padding:0.4em;
	background: #FFFFFF;
	border: 1px solid #CCC;
	margin-bottom: .5em;
}
.news-story .image-caption img {
	width:140px;
	height: 140px;
}
.news-story .image-caption p {
	font-size:.7em;
	margin:0px;
}
.news-story p strong {
	color:#999999;
}



/* All Services - Definition List Default Styles
-----------------------------------------------------------------------------------------------------------*/
dl {
    padding: 0;
    /*width: 90%;*/
    /* temporary adjustment for testing to remove page padding */
    /*margin: -17px -15px -15px -15px;*/
}

dl dt {
    border-top: 2px solid #BBB;
    padding: 0;
    margin: 0;
    clear: left;
    font-size: 17px;
    font-weight: bold;
    /*width: 90%;*/
}

dl dt a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
    display: block;
    /*width: 100%;*/
    margin: 0;
    padding: 5px 15px 5px 15px;
}


dl dd {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    /*width: 90%;*/
}

dl dd a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    display: block;
    /*width: 90%;*/
    margin: 0;
    padding: 5px 15px 5px 15px;
}

dl p {
	margin: 0;
    padding: 5px 15px 5px 15px;
    padding: 0;
    margin: 0;
}

/* Home
-----------------------------------------------------------------------------------------------------------*/
/* start - testing some overrides */
/*div.ui-header {
	position: fixed !important;
	z-index: 100;
}

.ui-content {
	padding-top: 55px;
}*/

.ui-body-b {
	border: none;
}
.ui-bar-a  {
	border: none;
}

div#home {
	border: none;
	padding: 0;
	margin: 0;
}
/* end - testing some overrides */

div#home dl {
	position: relative;
}

div#home dt {
	height: 80px;
	display: block;
	margin: 0 0 -50px 0;
}

div#home dl dd:last-child {
	margin-bottom: 15px;
}

div#home dt a {
    background-repeat: no-repeat;
    background-position: 8px 10px;
    padding: 5px 0 0 80px;
    position: relative;
    height: 80px;
    color: #333;
}

div#home dd {
	position: relative;
	display: block;
	top: 0;
	margin: 0 20px 0 80px;
}

div#home dd a {
	height: 45px;
	color: #444;
	font-weight: normal;
	padding: 0;
	margin: 0;
}


/* IT Notices
-----------------------------------------------------------------------------------------------------------*/
dl.itnoticeslist dt a {
    padding: 15px 250px 10px 75px;
    position: relative;
    color: #000 !important;
    border: none;
    width: 60%;
}

dl.itnoticeslist dd a {
    padding: 5px 150px 10px 75px;
    color: #333 !important;
    border: none;
    width: 60%;
}

div#itnotices div.ui-content span, div#itnotices div.ui-content span.itNoticeIcon-Announcement, div#itnotices div.ui-content span.itNoticeIcon-Critical, div#itnotices div.ui-content span.itNoticeIcon-Error, div#itnotices div.ui-content span.itNoticeIcon-News, div#itnotices div.ui-content span.itNoticeIcon-Warning {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 60px;
    height: 100px;
    display: block;
    text-indent: -9999px;
    background-color: transparent;
    background-position: top left;
    background-repeat: no-repeat;
}

/* default icon */
div#itnotices div.ui-content span {
	background-image: url('../images/itnotices/announcement.png');
}

div#itnotices div.ui-content span.itNoticeIcon-Announcement {
    background-image: url('../images/itnotices/announcement.png');
}

div#itnotices div.ui-content span.itNoticeIcon-Critical {
    background-image: url('../images/itnotices/critical.png');
}

div#itnotices div.ui-content span.itNoticeIcon-Error {
    background-image: url('../images/itnotices/error.png');
}

div#itnotices div.ui-content span.itNoticeIcon-News {
    background-image: url('../images/itnotices/news.png');
}

div#itnotices div.ui-content span.itNoticeIcon-Warning {
    background-image: url('../images/itnotices/warning.png');
}


/* Campus Alerts
-----------------------------------------------------------------------------------------------------------*/
div#campusalerts dt, div#campusalerts dd {
	margin: 0;
	padding: 7px 15px 7px 15px;
}

/* My Classes
-----------------------------------------------------------------------------------------------------------*/
div#myclasses dt a {
    padding: 12px 25px 7px 15px;
    position: relative;
}

/*div#myclasses dt a:after {
	content: "Details";
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 10px;
	top: 10px;
	text-indent: -9999px;
	background-position: -108px 50%;
    background: url("images/icons-18-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    border-radius: 9px 9px 9px 9px;
}*/

div#myclasses dd a {
    padding: 0 25px 12px 15px;
}


/* Emergency Info
-----------------------------------------------------------------------------------------------------------*/
dl.emergencylist dt a {
    color: #000 !important;
}

dl.emergencylist dd a {
    color: #333 !important;
    font-weight: normal;
}

/* Computer Labs
-----------------------------------------------------------------------------------------------------------*/
div#computerlabs div.ui-content {
	padding-top: 0;
}

div#computerlabs h3 {
	margin: 0 -15px 0 -15px;
	padding: 7px 15px 7px 15px;
	font-size: 16px;
	text-shadow: none;
	display: block;
	width: 100%;
	border: 1px solid #333;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    background: -moz-linear-gradient(center top , #484848, #000000) repeat scroll 0 0 #000000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #484848), color-stop(1, #000000));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#484848', EndColorStr='#000000')";
}

div#computerlabs dl {
    margin: 0 -15px 0 -15px;
    padding: 0;	
}

div#computerlabs dt a {
    color: #000 !important; 
}

div#computerlabs dd a {
	color: #333;
	font-weight: normal;
}

/* Home Screen Badge Style Overrides
-----------------------------------------------------------------------------------------------------------*/
div#home span.dl-dt-count {
    font-size: 14px;
    padding: 2px 8px 3px 8px;
    position: absolute;
    left: 42px;
    top: 3px;
    background: -moz-linear-gradient(center top , #FF8888, #992222) repeat scroll 0 0 #992222;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF8888), color-stop(1, #992222));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF8888', EndColorStr='#992222')";
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #333333;
    -moz-box-shadow: 1px 1px 3px #666;
    -webkit-box-shadow: 1px 1px 3px #666;
    box-shadow: 1px 1px 3px #666;
}

/*.ui-btn-up-c {
    background: -moz-linear-gradient(center top , #FF8888, #992222) repeat scroll 0 0 #990000 !important;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #333333;
}*/




/* Custom Link Disclosure Icons
-----------------------------------------------------------------------------------------------------------*/


.link-email .ui-icon.ui-icon-arrow-r {
	background: url(images/icon-email.png);
	background-color:#939393
}


.link-phone .ui-icon.ui-icon-arrow-r {
	background: url(images/icon-phone.png);
	background-color:#939393
}


.link-view .ui-icon.ui-icon-arrow-r {
	background: url(images/icon-view.png);
	background-color:#939393
}
